.home {
	text-align: center;
}
.home--content {
	display: inline-block;
	justify-content: center;
	align-items: center;
}
.home--title {
	color: rgb(54, 53, 53);
	font-size: 30px;
	justify-content: center;
	text-align: center;
	padding: 80px 0 20px 0;
}
.home--options {
	display: inline-flex;
	padding: 20px 0px 20px 0px;
}
.home--coupons,
.home--reports {
	border: 2px solid #fa4505;
	border-radius: 5px;
	padding: 40px;
	width: 150px;
	margin: 0 20px 0 20px;
	color: rgb(54, 53, 53);
}
.home--coupons:hover,
.home--reports:hover {
	background-color: rgba(255, 255, 255, 0.281);
}

