.reports {
	text-align: center;
}
.reports--title {
	color: rgb(54, 53, 53);
	font-size: 30px;
	justify-content: center;
	text-align: center;
	padding: 80px 0 20px 0;
	margin: 0;
}
.reports--select label {
	margin: 0 20px 0px 0;
}
.reports--timeCourse label {
	margin: 0 10px 0px -36px;
}
.reports--timeCourse input {
	padding: 8px 0 10px 6px;
	width: 136px;
	border: solid 1px;
}
.ui.selection.dropdown {
	width: 270px;
	border: solid 1px !important;
	background: transparent !important;
}
.reports--registeredNotes {
	border: solid 1px;
	width: 400px;
	height: 100%;
	padding: 10px 0px 22px 0px;
	border-radius: 8px;
	display: inline-block;
	margin: 20px;
}
.reports--activatedCoupons {
	display: inline-block;
	margin: 20px;
}
#timeCourse {
	margin: 0 8px 0px 8px;
}
.reports--search {
	width: 34px !important;
	height: 40px !important;
	position: absolute;
	background-color: #fa4505;
	color: #fff;
	border-radius: 4px;
	margin: 10px 0 0 4px;
	padding: 4px;
	cursor: pointer;
}
.reports--graphic {
	display: inline-block;
	margin: 20px;
}
