.checkCoupons {
	text-align: center;
}
.coupons--content {
	display: inline-block;
	text-align: initial;
}
.ckeckCoupons--button button {
    margin: 20px 0px 100px 0;
	width: 180px;
}
.checkCoupons--title {
	color: rgb(54, 53, 53);
	font-size: 30px;
	justify-content: center;
	text-align: center;
	padding: 80px 0 20px 0;
	margin: 0;
}
.coupons--result {
	margin: 30px 0 0px 0px;
}
.coupons--code input {
	width: 136px !important;
	background: transparent;
	border: 1px solid;
}
.coupons--search {
	width: 82px !important;
	height: 34px !important;
	position: absolute;
	background-color: #fa4505;
	color: #fff;
	border-radius: 4px;
	margin: 10px 0 0 4px;
	padding: 4px;
	cursor: pointer;
}
