@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import-normalize;

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
a:-webkit-any-link {
	text-decoration: none;
	color: #dad8d8;
}
hr {
	content: "";
	display: block;
	background-color: #fa4505;
	height: 0.2rem;
	width: 4rem;
	border: none;
	border-radius: 5px;
	margin: 1rem auto;
}
button:disabled,
button[disabled] {
	background-color: #f7835a;
}
