@media (max-width: 500px) {
	.bm-burger-button {
		margin: 20px 0 0 20px;
	}
	.home--options {
		display: inline-block;
	}
	.home--coupons,
	.home--reports {
		margin: 0 20px 10px 20px;
	}
	.profile--bannerSide {
		display: none;
	}
	.profile--userDados {
		background-color: transparent;
		max-height: 100%;
	}
	.profile--saveEditions {
		margin: 820px 0 0px 92px;
	}
	.profile--saveEditions button {
		font-size: 20px;
		width: 200px;
		height: 50px;
		margin: 20px 0 50px 10px;
	}
	.profile--userDados input {
		width: 90% !important;
	}
	input {
		border: solid 1px rgb(54, 53, 53) !important;
	}
	.register--toGoBack {
		display: none !important;
	}
	.reports {
		width: 460px;
	}
	::-webkit-scrollbar-track {
		background-color: none;
	}
	::-webkit-scrollbar {
		width: 0;
		background: none;
	}
	::-webkit-scrollbar-thumb {
		background: none;
	}
}
